{% extends 'base.html' %}

{% block head_title %}
Dmitry Filin (C)
{% endblock head_title %}

{% block content %}
Welcome to twitter

<div id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets")

    function formatTweetElement(tweet) {
        let formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'>" + "<p>" + tweet.content + "</p></div>"
        return formattedTweet
    }
    const xhr = new XMLHttpRequest() 
    const method = 'GET' // POST
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response 
        const listedItems = serverResponse.response
        let finalTweetStr = ""
        for (let i = 0; i < listedItems.length; i++) {
            let tweetObj = listedItems[i]
            let currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>
{% endblock content %}
