{% extends 'base.html' %}

{% block head_title %}
Dmitry Filin (C)
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to twitter</h1>
    </div>
</div>
<!--FORM FOR TWEET CREATION-->
<div class='row'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next'/>
            <textarea class="form-control" name='content' placeholder="Your tweet"> </textarea>
            <button class="btn btn-primary" type="submit">Tweet</button> 
        </form>
    </div>
</div>
<!--END OF FORM-->
<div class='row' id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets")

    function handleLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        currentCount++
        return
    }

    function likeBtn(tweet) {
        return "<button class='btn-primary' onclick=handleLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like </button>"
    }

    function formatTweetElement(tweet) {
        let formattedTweet = "<div class='col-12 border py-3 mb-4 tweet' id='tweet-" + tweet.id + "'>" +
        "<p>" + tweet.content + "</p>" +
        "<div class='btn-group'>" + likeBtn(tweet) + "</p></div></div>"
        return formattedTweet
    }

    //FUNCTION TO GET TWEETS FROM THE SERVER
    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest() 

        xhr.responseType = 'json'
        xhr.open('GET', '/tweets')
        xhr.onload = function () {
            const serverResponse = xhr.response 
            const listedItems = serverResponse.response
            let finalTweetStr = ""
            for (let i = 0; i < listedItems.length; i++) {
                let tweetObj = listedItems[i]
                let currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }
    //END OF FUNCTION

    loadTweets(tweetsElement)
</script>
{% endblock content %}
